
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Menu";
<link href="~/css/menu.css" rel="stylesheet" />
}

    <div class="menu-main">
        <div class="container">
            <div class="menu__title">
                <h2 class="">Our Menu</h2>
                <p>
                    We consider all the drivers of change gives you the components <br>
                    you need to change to create a truly happens.
                </p>
            </div>
            <div class="menu__button">
                <button class="active">All</button>
                <button class="">Breakfast</button>
                <button class="">Main Dishes</button>
                <button class="">Drinks</button>
                <button class="">Desserts</button>
            </div>
            <!-- menu card -->
            <div class="menu__card">
                <div class="row">
                    <div class="menu__card--item col">
                        <div class="menu__card--img">
                            <img src="~/img/egg.png" alt="">
                        </div>
                        <div class="menu__card--description text-center">
                            <span class="my-4">$9.99</span>
                            <h3 class="my-4">Fried Eggs</h3>
                            <p class="my-4">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                        </div>
                    </div>
                    <div class="menu__card--item col">
                        <div class="menu__card--img">
                            <img src="~/img/pizza.png" alt="">
                        </div>
                        <div class="menu__card--description text-center">
                            <span class="my-4">$15.99</span>
                            <h3 class="my-4">Hawaiian Pizza</h3>
                            <p class="my-4">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                        </div>
                    </div>
                    <div class="menu__card--item col">
                        <div class="menu__card--img">
                            <img src="~/img/cooktail.png" alt="">
                        </div>
                        <div class="menu__card--description text-center">
                            <span class="my-4">$7.25</span>
                            <h3 class="my-4">Martinez Cocktail</h3>
                            <p class="my-4">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                        </div>
                    </div>
                    <div class="menu__card--item col">
                        <div class="menu__card--img">
                            <img src="~/img/butterscotch.png" alt="">
                        </div>
                        <div class="menu__card--description text-center">
                            <span class="my-4">$20.99</span>
                            <h3 class="my-4">Butterscotch Cake</h3>
                            <p class="my-4">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="menu__card--item col">
                        <div class="menu__card--img">
                            <img src="~/img/lemonnade.png" alt="">
                        </div>
                        <div class="menu__card--description text-center">
                            <span class="my-4">$5.89</span>
                            <h3 class="my-4">Mint Lemonade</h3>
                            <p class="my-4">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                        </div>
                    </div>
                    <div class="menu__card--item col">
                        <div class="menu__card--img">
                            <img src="~/img/icecream.png" alt="">
                        </div>
                        <div class="menu__card--description text-center">
                            <span class="my-4">$18.05</span>
                            <h3 class="my-4">Chocolate Icecream</h3>
                            <p class="my-4">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                        </div>
                    </div>
                    <div class="menu__card--item col">
                        <div class="menu__card--img">
                            <img src="~/img/burger.png" alt="">
                        </div>
                        <div class="menu__card--description text-center">
                            <span class="my-4">$12.55</span>
                            <h3 class="my-4">Cheese Burger</h3>
                            <p class="my-4">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                        </div>
                    </div>
                    <div class="menu__card--item col">
                        <div class="menu__card--img">
                            <img src="~/img/waffles.png" alt="">
                        </div>
                        <div class="menu__card--description text-center">
                            <span class="my-4">$12.99</span>
                            <h3 class="my-4">Classic Waffles</h3>
                            <p class="my-4">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu brand -->
        <div class="menu__brand">
            <div class="menu__brand--content">
                <div class="container d-flex">
                    <div class="menu__brand--title">
                        <h2>You can order through apps</h2>
                        <p>
                            We consider all the drivers of change gives you the components <br>
                            you need to change to create a truly happens.
                        </p>
                    </div>
                    <div class="menu__brand--list">
                        <div class="menu__brand--list-top">
                            <div class="menu__brand--item">
                                <img src="~/img/brand1.png" alt="">
                            </div>
                            <div class="menu__brand--item">
                                <img src="~/img/brand2.png" alt="">
                            </div>
                            <div class="menu__brand--item">
                                <img src="~/img/brand3.png" alt="">
                            </div>
                        </div>
                        <div class="menu__brand--list-center">
                            <div class="menu__brand--item px-9">
                                <img src="~/img/brand4.png" alt="">
                            </div>
                            <div class="menu__brand--item px-9">
                                <img src="~/img/brand5.png" alt="">
                            </div>
                            <div class="menu__brand--item px-9">
                                <img src="~/img/brand6.png" alt="">
                            </div>
                        </div>
                        <div class="menu__brand--list-bottom">
                            <div class="menu__brand--item">
                                <img src="~/img/brand7.png" alt="">
                            </div>
                            <div class="menu__brand--item">
                                <img src="~/img/brand8.png" alt="">
                            </div>
                            <div class="menu__brand--item">
                                <img src="~/img/brand9.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

