@section CSS {
    <link rel="stylesheet" href="~/css/Basket.css" />
}
@section Header {
    <partial name="header2" />
}

@model List<BakeryShop.Util.CartItemResponse>



<main>
    <div class="d-flex align-items-start flex-column"
         style="margin-top: 120px">
        <div class="d-flex align-items-center justify-content-between w100 mb-5">
            <a asp-controller="BakeryShop" asp-action="Index">
                <i class="bi bi-arrow-left"></i>
                <span class="fs-5">Quay lại</span>
            </a>
            <div><h2 class="login-title">Giỏ hàng của bạn</h2></div>
            <div>
                

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    @*
                    <div class="absolute-center flex-column" style="height: 500px">
                    <i class="bi bi-bag-check-fill" style="font-size: 120px"></i>
                    <p class="fs-2 m-3">Giỏ hàng của bạn trống</p>
                    <p class="fs-5">
                    Giỏ hàng của bạn trông hơi trống. Tại sao không thử một vài
                    món <a href="">trong món ăn của chúng tôi?</a>
                    </p>
                    </div>
                    *@
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Price.ToString("C")</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.TotalPrice.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 p-2">
                        <div class="card-body">
                            <div class="card-title mb-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="fw-bold fs-4">Voucher</span>
                                    <i class="fs-5 bi bi-arrow-right"></i>
                                </div>
                            </div>
                            <div class="card-text">
                                <a href="">Nhập hoặc chọn voucher của bạn</a>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="fw-bold fs-4">Muỗng nĩa nhựa</span>
                                    <span class="fs-5">
                                        Không <i class="ms-2 bi bi-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2 pb-1">
                                <span class="fs-5">Tạm tính</span>
                                <span class="fs-5">0đ</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-2 pb-1">
                                <span class="fs-5">
                                    Giảm giá thành viên
                                    <i class="bi bi-exclamation-circle"></i>
                                </span>
                                <span class="fs-5">0đ</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-2 pb-4 border-bottom">
                                <span class="fs-5">
                                    Phí giao hàng <i class="bi bi-exclamation-circle"></i>
                                </span>
                                <span class="fs-5">0đ</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <span class="fs-5">Tổng cộng</span>
                                <span class="fs-2">0đ</span>
                            </div>
                        </div>
                    </div>
                    <button class="rounded w100 btn-pay fs-4 p-2 " type="button">
                        Thanh toán
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>