@section CSS {
    <link rel="stylesheet" href="~/css/login.css" />
}



@model BakeryShop.Util.ForgotPasswordValidation


<main>
    <div class="d-flex align-items-start flex-column">
        <div class="d-flex align-items-center justify-content-between w100">
            <a asp-controller="BakeryShop" asp-action="Index">
                <i class="bi bi-arrow-left"></i>
                <span class="fs-5">Quay lại</span>
            </a>
            <div><h2 class="login-title">Xác thực tài khoản</h2></div>
            <div></div>
        </div>
        <div class="form d-flex align-items-center justify-content-center w100 mb-5">



            <form asp-controller="User" asp-action="CheckMail" method="POST" class="login-form rounded shadow">
                <div class="mb-3 form-group">
                    <label class="form-label" for="email">Email</label>
                    <!-- Nhập mã OTP -->
                    <input type="text" class="form-control input-hover"asp-for="Email" placeholder="Nhập email của bạn" />
                    <span class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary w100 mb-3">
                    Submit
                </button>
                @if (TempData["StatusMail"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["StatusMail"]
                    </div>
                }
            </form>

        </div>
    </div>
</main>