@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BakeryShop.Models.Cake
@{
    ViewData["title"] = "index";
}
<main class="absolute-center flex-lg-column">
    <div class="introduce absolute-center">
        <h1 class="title text-center">best food for your taste</h1>
        <p class="desc text-center mt-3 fs-6 lh-base">
            Discover delectable cuisine and unforgettable moments in our
            welcoming, culinary haven.
        </p>
        <div class="d-flext m-3">
            <button type="button"
                    class="book-btn button p-1 fw-bold fs-5 rounded-pill">
                Book a table
            </button>
            <button type="button"
                    class="menu-btn button p-1 fw-bold fs-5 rounded-pill">
                Explore menu
            </button>
        </div>
    </div>
    <div class="menu absolute-center">
        <h2 class="menu-title">Browse Our Menu</h2>
        <ul class="d-flex gap-4 mt-5">
            <li>
                <div class="card absolute-center">
                    <div class="card-header rounded-circle absolute-center">
                        <img src="~/img/cofeIcon.png" class="card-img-top" alt="..." />
                    </div>
                    <div class="card-body flex-md-column absolute-center">
                        <h5 class="card-title text-center fw-bold">Breakfast</h5>
                        <p class="card-text text-center">
                            In the new era of technology we look in the future with
                            certainty and pride for our life.
                        </p>
                        <a href="#" class="Explore fw-bold fs-4 btn">Explore Menu</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="card absolute-center">
                    <div class="card-header rounded-circle absolute-center">
                        <img src="~/img/riceIcon.png" class="card-img-top" alt="..." />
                    </div>
                    <div class="card-body flex-md-column absolute-center">
                        <h5 class="card-title text-center fw-bold">Main Dishes</h5>
                        <p class="card-text text-center">
                            In the new era of technology we look in the future with
                            certainty and pride for our life.
                        </p>
                        <a href="#" class="Explore fw-bold fs-4 btn">Explore Menu</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="card absolute-center">
                    <div class="card-header rounded-circle absolute-center">
                        <img src="~/img/drinkIcon.png"
                             class="card-img-top"
                             alt="..." />
                    </div>
                    <div class="card-body flex-md-column absolute-center">
                        <h5 class="card-title text-center fw-bold">Drinks</h5>
                        <p class="card-tex text-center">
                            In the new era of technology we look in the future with
                            certainty and pride for our life.
                        </p>
                        <a href="#" class="Explore fw-bold fs-4 btn">Explore Menu</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="card absolute-center">
                    <div class="card-header rounded-circle absolute-center">
                        <img src="~/img/cakeIcon.png" class="card-img-top" alt="..." />
                    </div>
                    <div class="card-body flex-md-column absolute-center">
                        <h5 class="card-title text-center fw-bold">Desserts</h5>
                        <p class="card-text text-center">
                            In the new era of technology we look in the future with
                            certainty and pride for our life.
                        </p>
                        <a href="#" class="Explore fw-bold fs-4 btn">Explore Menu</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="about d-flex align-items-center justify-content-between">
        <div class="about-left">
            <img src="~/img/taco.png" class="about_img align-bottom" alt="" />
            <div class="card about-message text-start"
                 style="width: 18rem; height: 14rem">
                <div class="card-body absolute-center flex-md-column gap-2">
                    <h5 class="card-title about-card-title fw-bold">
                        Come and visit us
                    </h5>
                    <p class="card-text p-1">
                        <i class="bi bi-telephone"></i> 0387822490
                    </p>
                    <p class="card-text p-1">
                        <i class="bi bi-envelope"></i> 22130015@st.hcmuaf.edu.vn
                    </p>
                    <p class="card-text p-1">
                        <i class="bi bi-geo-alt"></i> THU DUC CITY
                    </p>
                </div>
            </div>
        </div>
        <div class="about-right">
            <h1 class="about-title">We provide healthy food for your family.</h1>
            <p class="about-desc">
                Our story began with a vision to create a unique dining experience
                that merges fine dining, exceptional service, and a vibrant
                ambiance. Rooted in city's rich culinary culture, we aim to honor
                our local roots while infusing a global palate.
            </p>
            <p class="about-desc">
                At place, we believe that dining is not just about food, but also
                about the overall experience. Our staff, renowned for their warmth
                and dedication, strives to make every visit an unforgettable event.
            </p>
            <button type="button" class="menu-btn button">More About Us</button>
        </div>
    </div>
    <div class="type">
        <h2 class="type-title">
            We also offer unique services for your events
        </h2>
        <ul class="d-flex gap-4 mt-5">
            <li>
                <div class="event-card">
                    <img src="~/img/kebab-set-table 1.png"
                         class="card-img rounded"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="event-title fw-bold fs-4">Caterings</h5>
                        <p class="event-text">
                            In the new era of technology we look in the future with
                            certainty for life.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="event-card">
                    <img src="~/img/charming-female-blowing-candles-birthday-cake-after-making-her-wish-party 1.png"
                         class="card-img rounded"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="event-title fw-bold fs-4">Caterings</h5>
                        <p class="event-text">
                            In the new era of technology we look in the future with
                            certainty for life.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="event-card">
                    <img src="~/img/happy-man-wife-sunny-day 1.png"
                         class="card-img rounded"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="event-title fw-bold fs-4">Caterings</h5>
                        <p class="event-text">
                            In the new era of technology we look in the future with
                            certainty for life.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="event-card">
                    <img src="~/img/group-friends-eating-restaurant 1.png"
                         class="card-img rounded"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="event-title fw-bold fs-4">Caterings</h5>
                        <p class="event-text">
                            In the new era of technology we look in the future with
                            certainty for life.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="delivery d-flex align-items-center">
        <div class="grid-holder">
            <div class="left-image">
                <img src="~/img/mid-shot-chef-holding-plate-with-pasta-making-ok-sign 1.png"
                     alt="Left Image"
                     class="image" />
            </div>
            <div class="right-top">
                <img src="~/img/sour-curry-with-snakehead-fish-spicy-garden-hot-pot-thai-food 1.png"
                     alt="Right Top Image"
                     class="image" />
            </div>
            <div class="right-bottom">
                <img src="~/img/sadj-iron-pot-with-various-salads 1.png"
                     alt="Right Bottom Image"
                     class="image" />
            </div>
        </div>
        <div class="about-right">
            <h1 class="delivery-title">Fastest Food Delivery in City</h1>
            <p class="about-desc">
                Our visual designer lets you quickly and of drag a down your way to
                customapps for both keep desktop.
            </p>
            <ul>
                <li>
                    <i class="rounded-circle p-2 bi bi-clock"></i> Delivery within 30
                    minutes
                </li>
                <li>
                    <i class="rounded-circle p-2 bi bi-truck"></i> Best Offer & Prices
                </li>
                <li>
                    <i class="rounded-circle p-2 bi bi-cart"></i> Online Services
                    Available
                </li>
            </ul>
        </div>
    </div>
    <div class="blog">
        <div class="blog-header d-flex align-items-between justify-content-between">
            <h2 class="blog-title">Our Blog & Articles</h2>
            <button type="button" class="blog-btn rounded-pill p-2">
                Read All Articles
            </button>
        </div>
        <div class="blog-grid m-5">
            <div class="blog-left shadow">
                <div class="blog-card-left absolute-center">
                    <img src="~/img/pexels-andra-918581 1.png"
                         class="blog-img-left"
                         alt="" />
                    <div class="blog-card-body">
                        <p class="card-text m-3">January 3, 2023</p>
                        <h5 class="blog-card-title-left">
                            The secret tips & tricks to prepare a perfect burger & pizza
                            for our customers
                        </h5>
                        <p class="blog-desc">
                            Lorem ipsum dolor sit amet consectetur of a adipiscing
                            elitilmim semper adipiscing massa gravida nisi cras enim quis
                            nibholm varius amet gravida ut facilisis neque egestas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="blog-right-grid">
                <div class="blog-card shadow">
                    <img src="~/img/pexels-suzy-hazelwood-2966196 1.png"
                         class="blog-img card-img-top"
                         alt="" />
                    <div class="blog-card-body">
                        <p class="card-text m-2">January 3, 2023</p>
                        <h5 class="blog-card-title fs-5">
                            How to prepare the perfect french fries in an air fryere
                        </h5>
                    </div>
                </div>
                <div class="blog-card shadow">
                    <img src="~/img/pexels-leonardo-luz-13998974 1.png"
                         class="blog-img card-img-top"
                         alt="" />
                    <div class="blog-card-body">
                        <p class="card-text m-2">January 3, 2023</p>
                        <h5 class="blog-card-title fs-5 ms-2">
                            How to prepare the perfect french fries in an air fryere
                        </h5>
                    </div>
                </div>
                <div class="blog-card shadow">
                    <img src="~/img/pexels-sebastian-coman-photography-3791088 1.png"
                         class="blog-img card-img-top"
                         alt="" />
                    <div class="blog-card-body">
                        <p class="card-text m-2">January 3, 2023</p>
                        <h5 class="blog-card-title fs-5">
                            How to prepare the perfect french fries in an air fryere
                        </h5>
                    </div>
                </div>
                <div class="blog-card shadow">
                    <img src="~/img/pexels-katerina-holmes-5908226 1.png"
                         class="blog-img card-img-top"
                         alt="" />
                    <div class="blog-card-body">
                        <p class="card-text m-2">January 3, 2023</p>
                        <h5 class="blog-card-title fs-5">
                            How to prepare the perfect french fries in an air fryere
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>