@{
    ViewData["title"] = "index";
}
@section CSS {
    <link rel="stylesheet" href="~/css/index.css" />
}
@section Header {
    <partial name="header1"/>
}
<main style="margin-top: 100px">
    <div class="slider container">
        <div id="carouselExampleDark"
             class="carousel slide"
             data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="https://plus.unsplash.com/premium_photo-1675278299389-4165d19f59d2?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         class="object-cover slider-img d-block w-100"
                         alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://plus.unsplash.com/premium_photo-1679076060484-1852c96149d2?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         class="object-cover slider-img d-block w-100"
                         alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://plus.unsplash.com/premium_photo-1667682939994-4c9e874dc175?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         class="object-cover slider-img d-block w-100"
                         alt="..." />
                </div>
            </div>
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon fs-1"
                      aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon"
                      aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="menu d-flex align-items-center m-5 justify-content-between text-center">
        <div class="group menu_btn">
            <i class="icon bi bi-search fs-3"></i>
            <p class="menu_btn-search mt-4 fs-5">Tìm kiếm</p>
        </div>
        <div class="group menu_btn">
            <img src="./img/Combo_Gray.png" alt="" class="type-img" />

            <p class="menu_btn-search mt-4 fs-5">Bánh Sinh nhật</p>
        </div>
        <div class="group menu_btn">
            <img src="./img/Chicken_Gray.webp" alt="" class="type-img" />

            <p class="menu_btn-search mt-4 fs-5">Gà rán</p>
        </div>
        <div class="group menu_btn">
            <img src="./img/Mybox_Gray.webp" alt="" class="type-img" />
            <p class="menu_btn-search mt-4 fs-5">Bánh ngọt</p>
        </div>
        <div class="group menu_btn">
            <img src="./img/Water_Gray.webp" alt="" class="type-img" />

            <p class="menu_btn-search mt-4 fs-5">Giải khát</p>
        </div>
    </div>
    <div class="discount">
        <div class="discount-title mb-2">
            <h2 class="discount-title-h2 d-flex justify-content-center align-items-center">
                <hr />
                Mua 1 tặng 1
                <hr />
            </h2>
            <img src="./img/CateBanner_BOGO_Desktop_VI.webp"
                 class="img mt-2 mb-2"
                 alt="" />
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="./img/ComboMedium_Product_Desktop_VI.webp"
                             class="card-img-top"
                             alt="..." />
                        <div class="card-body">
                            <h5 class="card-title discount-title-h5 fw-bold">
                                mua 1 tặng 1 pizza (cỡ vừa)
                            </h5>
                            <p class="card-text truncated-text">
                                This is a longer card with supporting text below as a
                                natural lead-in to additional content. This content is a
                                little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./img/ComboLarge_Product_Desktop_VIwebp.webp"
                             class="card-img-top"
                             alt="..." />
                        <div class="card-body">
                            <h5 class="card-title discount-title-h5 fw-bold">
                                mua 1 tặng 1 pizza (cỡ lớn)
                            </h5>
                            <p class="card-text truncated-text">
                                This is a longer card with supporting text below as a
                                natural lead-in to additional content. This content is a
                                little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-title mt-4 mb-2">
            <h2 class="product-title-h2 d-flex justify-content-center align-items-center">
                <hr />
                Ghiền gà
                <hr />
            </h2>
            <img src="./img/CateBanner_Chicken_Desktop_VI.webp"
                 class="img mt-2 mb-2"
                 alt="" />
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://plus.unsplash.com/premium_photo-1700590072629-c051ca7ce0f3?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                     class="img-fluid rounded-start object-fit-cover"
                                     style="height : 250px; width:200px;"
                                     alt="..." />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title product-title-h5 fw-bold">
                                      Bánh Mochi 
                                    </h5>
                                    <p class="card-text">
                                        Bánh Nhật dẻo mềm, nhân kem lạnh hoặc đậu đỏ, hương vị đa dạng.
                                    </p>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 34 16"
                                             class="md:h-6 h-4 object-contain new-label">
                                            <rect width="34"
                                                  height="16"
                                                  fill="#C8102E"
                                                  rx="4"></rect>
                                            <path fill="#fff"
                                                  d="M12.003 3.273V12h-1.21L6.357 5.6h-.081V12H4.959V3.273h1.219l4.44 6.409h.08v-6.41zm4.64 8.86q-.968 0-1.667-.414a2.8 2.8 0 0 1-1.074-1.172q-.375-.759-.375-1.777 0-1.005.375-1.773.38-.766 1.057-1.197.682-.43 1.594-.43.554 0 1.074.183.519.183.933.575t.652 1.018q.24.623.239 1.513v.452h-5.203v-.955h3.954a1.9 1.9 0 0 0-.205-.89 1.55 1.55 0 0 0-.575-.618 1.6 1.6 0 0 0-.86-.226q-.538 0-.938.264-.396.26-.614.682a2 2 0 0 0-.213.908v.745q0 .657.23 1.117.235.46.652.703.418.239.976.239.363 0 .66-.103.3-.106.516-.315a1.4 1.4 0 0 0 .333-.516l1.206.218q-.145.533-.52.933-.371.396-.934.618a3.5 3.5 0 0 1-1.274.217M22.271 12l-1.926-6.545h1.316l1.283 4.806h.064l1.287-4.806h1.317l1.278 4.785h.064l1.274-4.785h1.317L27.624 12h-1.3l-1.33-4.726h-.097L23.567 12z"></path>
                                        </svg>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p class="price">20.000/ 2 cái</p>
                                        <button type="button" class="AddToCart text-light rounded-circle">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://images.unsplash.com/photo-1529978215771-45f0bcc12de3?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                     class="img-fluid rounded-start object-fit-cover"
                                     style="height : 250px; width:200px;"
                                     alt="..." />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title product-title-h5 fw-bold">
                                        Bánh Croissant
                                    </h5>
                                    <p class="card-text">
                                        Bánh giòn, xốp với nhiều lớp bơ thơm béo, thường ăn kèm mứt hoặc phô mai.
                                    </p>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 34 16"
                                             class="md:h-6 h-4 object-contain new-label">
                                            <rect width="34"
                                                  height="16"
                                                  fill="#C8102E"
                                                  rx="4"></rect>
                                            <path fill="#fff"
                                                  d="M12.003 3.273V12h-1.21L6.357 5.6h-.081V12H4.959V3.273h1.219l4.44 6.409h.08v-6.41zm4.64 8.86q-.968 0-1.667-.414a2.8 2.8 0 0 1-1.074-1.172q-.375-.759-.375-1.777 0-1.005.375-1.773.38-.766 1.057-1.197.682-.43 1.594-.43.554 0 1.074.183.519.183.933.575t.652 1.018q.24.623.239 1.513v.452h-5.203v-.955h3.954a1.9 1.9 0 0 0-.205-.89 1.55 1.55 0 0 0-.575-.618 1.6 1.6 0 0 0-.86-.226q-.538 0-.938.264-.396.26-.614.682a2 2 0 0 0-.213.908v.745q0 .657.23 1.117.235.46.652.703.418.239.976.239.363 0 .66-.103.3-.106.516-.315a1.4 1.4 0 0 0 .333-.516l1.206.218q-.145.533-.52.933-.371.396-.934.618a3.5 3.5 0 0 1-1.274.217M22.271 12l-1.926-6.545h1.316l1.283 4.806h.064l1.287-4.806h1.317l1.278 4.785h.064l1.274-4.785h1.317L27.624 12h-1.3l-1.33-4.726h-.097L23.567 12z"></path>
                                        </svg>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p class="price"> 35.000 VNĐ/cái</p>
                                        <button type="button" class="AddToCart text-light rounded-circle">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://images.unsplash.com/photo-1601654847092-712aff26313c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                     class="img-fluid rounded-start object-fit-cover"
                                     style="height : 250px; width:200px;"
                                     alt="..." />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title product-title-h5 fw-bold">
                                        Panna Cotta
                                    </h5>
                                    <p class="card-text">
                                        Bánh có kết cấu mềm mại, tan ngay trong miệng, rất thích hợp làm món tráng miệng trong các bữa tiệc.
                                    </p>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 34 16"
                                             class="md:h-6 h-4 object-contain new-label">
                                            <rect width="34"
                                                  height="16"
                                                  fill="#C8102E"
                                                  rx="4"></rect>
                                            <path fill="#fff"
                                                  d="M12.003 3.273V12h-1.21L6.357 5.6h-.081V12H4.959V3.273h1.219l4.44 6.409h.08v-6.41zm4.64 8.86q-.968 0-1.667-.414a2.8 2.8 0 0 1-1.074-1.172q-.375-.759-.375-1.777 0-1.005.375-1.773.38-.766 1.057-1.197.682-.43 1.594-.43.554 0 1.074.183.519.183.933.575t.652 1.018q.24.623.239 1.513v.452h-5.203v-.955h3.954a1.9 1.9 0 0 0-.205-.89 1.55 1.55 0 0 0-.575-.618 1.6 1.6 0 0 0-.86-.226q-.538 0-.938.264-.396.26-.614.682a2 2 0 0 0-.213.908v.745q0 .657.23 1.117.235.46.652.703.418.239.976.239.363 0 .66-.103.3-.106.516-.315a1.4 1.4 0 0 0 .333-.516l1.206.218q-.145.533-.52.933-.371.396-.934.618a3.5 3.5 0 0 1-1.274.217M22.271 12l-1.926-6.545h1.316l1.283 4.806h.064l1.287-4.806h1.317l1.278 4.785h.064l1.274-4.785h1.317L27.624 12h-1.3l-1.33-4.726h-.097L23.567 12z"></path>
                                        </svg>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p class="price">50.000 VNĐ/ly</p>
                                        <button type="button" class="AddToCart text-light rounded-circle">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://plus.unsplash.com/premium_photo-1670895802275-ed748ced4309?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                     class="img-fluid rounded-start object-fit-cover"
                                     style="height : 250px; width:200px;"
                                     alt="..." />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title product-title-h5 fw-bold">
                                        Cookie
                                    </h5>
                                    <p class="card-text">
                                        tiện lợi để ăn nhẹ, làm quà tặng, hoặc dùng kèm trà và cà phê.
                                    </p>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             fill="none"
                                             viewBox="0 0 34 16"
                                             class="md:h-6 h-4 object-contain new-label">
                                            <rect width="34"
                                                  height="16"
                                                  fill="#C8102E"
                                                  rx="4"></rect>
                                            <path fill="#fff"
                                                  d="M12.003 3.273V12h-1.21L6.357 5.6h-.081V12H4.959V3.273h1.219l4.44 6.409h.08v-6.41zm4.64 8.86q-.968 0-1.667-.414a2.8 2.8 0 0 1-1.074-1.172q-.375-.759-.375-1.777 0-1.005.375-1.773.38-.766 1.057-1.197.682-.43 1.594-.43.554 0 1.074.183.519.183.933.575t.652 1.018q.24.623.239 1.513v.452h-5.203v-.955h3.954a1.9 1.9 0 0 0-.205-.89 1.55 1.55 0 0 0-.575-.618 1.6 1.6 0 0 0-.86-.226q-.538 0-.938.264-.396.26-.614.682a2 2 0 0 0-.213.908v.745q0 .657.23 1.117.235.46.652.703.418.239.976.239.363 0 .66-.103.3-.106.516-.315a1.4 1.4 0 0 0 .333-.516l1.206.218q-.145.533-.52.933-.371.396-.934.618a3.5 3.5 0 0 1-1.274.217M22.271 12l-1.926-6.545h1.316l1.283 4.806h.064l1.287-4.806h1.317l1.278 4.785h.064l1.274-4.785h1.317L27.624 12h-1.3l-1.33-4.726h-.097L23.567 12z"></path>
                                        </svg>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p class="price">80.000 VNĐ/hộp</p>
                                        <button type="button" class="AddToCart text-light rounded-circle">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>