

@section CSS {
    <link rel="stylesheet" href="~/css/login.css" />
}
@section Header {
    <partial name="header2" />
}

@model BakeryShop.Util.ResetPassword
<main>
    <div class="d-flex align-items-start flex-column">
        <div class="d-flex align-items-center justify-content-between w100">
            <a asp-controller="Bakery" asp-action="Index">
                <i class="bi bi-arrow-left"></i>
                <span class="fs-5">Quay lại</span>
            </a>
            <div><h2 class="login-title">Đặt lại mật khẩu</h2></div>
            <div></div>
        </div>
        <div class="form d-flex align-items-center justify-content-center w100 mb-5">
            <form method="POST" asp-controller="User" asp-action="ResetPassword" class="login-form rounded shadow">
                <div class="mb-3 form-group">

                    <label class="form-label" asp-for="Password"></label>
                    <input class="form-control input-hover" asp-for="Password" placeholder="Nhập password mới" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label class="form-label" asp-for="ConfirmPassword"></label>
                    <input class="form-control input-hover" asp-for="ConfirmPassword" placeholder="Nhập lại password mới" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                @* <div class="form-check">
                <input asp-for="SavePassWord" class="form-check-input border-primary" type="checkbox" />
                <label asp-for="SavePassWord" class="form-check-label"></label>
                <span asp-validation-for="SavePassWord" class="text-danger"></span>
                </div> *@
                <div class="mb-3 float-end">
                    <a asp-action="ForgotPassword" asp-controller="BakeryShop">Forgot password</a>
                </div>
                <button type="submit" class="btn btn-primary w100 mb-3">
                    Submit
                </button>


                <div class="mb-3 text-center">
                    <p>Bạn chưa có tài khoản <a asp-action="Register" asp-controller="BakeryShop">Tạo tài khoản </a></p>
                </div>


               




            </form>
        </div>
    </div>
</main>