<header class="fixed-top header bg-light">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="address flex-1 text-left overflow-hidden">
                <p class="address_order">Mua mang về :</p>
                <p class="address_locate">Go ! dĩ an</p>
            </div>
            <div class="flex-1 ms-5">
                <a asp-controller="BakeryShop" asp-action="Index"><img src="~/img/Logo.png" alt="" class="logo" /></a>

            </div>
            <div class="feature d-flex gap-4 align-items-center">
                <button type="button" title="bell" id="toggleSidebar" class="btn rounded-circle">
                    <i class="icon feature-Notify bi bi-bell"></i>
                </button>

                <i class="icon feature-language bi bi-translate"></i>
                <a asp-controller="BakeryShop" asp-action="Basket"
                   class="feature-cart p-4 text-light rounded-pill d-flex gap-2 align-items-center">
                    0 <i class="icon bi bi-cart"></i>
                </a>

                <div class="dropdown">
                    <button title="btn" class=" rounded-pill d-flex gap-2 align-items-center btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="icon bi bi-list"></i>
                        <i class="icon bi bi-person-circle"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item mb-1" asp-controller="BakeryShop" asp-action="Login" >Đăng Nhập</a></li>
                        <li><a class="dropdown-item mb-1" asp-controller="BakeryShop" asp-action="Register">Đăng ký</a></li>
                        <li><a class="dropdown-item mb-1" asp-controller="BakeryShop" asp-action="Track">Theo dõi đơn hàng </a></li>
                        <li>
                            <div class="text-center">
                                <button type="button"
                                        class="btn"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    Hỗ trợ khách hàng
                                </button>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>