
<header class="fixed-top header">
    <nav class="navbar navbar-expand-lg">
        <div class="container d-flex align-items-center justify-content-between">
            <div></div>
            <div class="flex-1">
                <a asp-controller="BakeryShop" asp-action="Index"><img src="~/img/Logo.png" alt="" class="logo" /></a>
            </div>
            <div class="feature d-flex gap-4 align-items-center">
                <i class="icon feature-language bi bi-translate"></i>
            </div>
        </div>
    </nav>
</header>