@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --main-bg-color: black;
    --sub-bg-color: #f2f7fb;
    --top-height: 70px;
    --main-transition: all 0.3s ease;
    --color-hover-text: #333;
    --main-border-radius: 5px;
    --main-font-family:'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}
a{
    text-decoration: none;
    color: unset;
    
}
li{
    list-style: none;
}
canvas {
    max-width: 800px;
    margin: 0 auto;
}
.hidden{
    display: none;
}

.flex-box{
    display: flex;
}
.main-btn{
    padding: 10px 12px;
    background-color: black;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}


.row-grid{
    display: grid;
    justify-content: space-between;
}
.delete-class,.nonconfirm-order{
    padding: 3px;
    background-color: red;
    color: white;
    border-radius: var(--main-border-radius);
}
.edit-class,.confirm-order{
    padding: 3px;
    background-color: green;
    color: white;
    border-radius: var(--main-border-radius);
}

/* main-admin */
.admin .row-grid{
    grid-template-columns: 20% 80%;
}

/* sidebar */
.admin-sidebar{
    height: 100vh;
    background-color: #c21215;
    
}
.admin-sidebar-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--top-height);
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    background-color: var(--sub-bg-color);
}
.admin-sidebar-top img{
    width: 100px;
}
.admin-sidebar-content  ul  li  a{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.admin-sidebar-content > ul > li > a i:last-child{
    margin-left: auto;
}

.admin-sidebar-content ul li a i{
    margin-right: 6px;
}
.admin-sidebar-content{
    padding: 30px 0 0 30px;
    color: white;
}
.admin-sidebar-content  ul  li{
    padding: 6px ;
    transition: var(--main-transition);
}
.admin-sidebar-content  ul  li:hover{
    background-color: rgba(217,217,217, 0.5);
}

.sub-menu{
   height: 0;
   overflow: hidden;
   transition: var(--main-transition);
}
/* .submenu.active{
    height: 60px;
} */
.sub-menu li:hover a{
    color: var(--color-hover-text);
}
/* content */
.admin-content{
    background-color: var(--sub-bg-color);
}
.admin-content-top{
    display: flex;
    justify-content: space-between;
    height: var(--top-height);
    border-bottom:1px solid gray;
    padding: 0 12px;
}
.admin-content-top .flex-box{
    height: var(--top-height);
    align-items: center;
}
.admin-content-top i{
    margin-right: 12px;
    cursor: pointer;
}
.admin-content-top-right ul li:last-child p{
    cursor: pointer;
}
.admin-content-top-right ul li:first-child i{
    position: relative;
}
.admin-content-top-right ul li:first-child i::after{
    position: absolute;
    content: attr(number);
    font-size: 14px;
    height: 15px;
    width: 15px;
    display: block;
    background-color: #4a87ce;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notification 1s infinite 1s;
}

.admin-content-top-right ul li:nth-child(2) i{
    position: relative;
}
.admin-content-top-right ul li:nth-child(2) i::after{
    position: absolute;
    content: attr(number);
    font-size: 14px;
    height: 15px;
    width: 15px;
    display: block;
    background-color: #d36b33;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notification 1s infinite 1s;
}
.admin-content-top-right .sub-menu-admin{
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: var(--main-bg-color);
    color: white;
    padding: 5px;
}

.traingle{
    position: absolute;
    top: -7px;
    right: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 59px 0px 9px 7px;
    border-color: transparent transparent var(--main-bg-color) transparent;
}


.admin-content-top-right .sub-menu-admin li .logout a{
    cursor: pointer;
    display: block;
    width: 100%;
}

@keyframes notification{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.admin-content-main-title h1{
    padding: 12px;
    font-weight: 500;
    position: relative;
}

.admin-content-main-title h1::before{
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 70px;
    background-color: #c21215;
    bottom: 6px;
    left: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px ;
}

/* product add */
.admin-content-main-content{
    background-color: white;
}

.admin-content-main-content-product-add {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 12px ;
    column-gap: 20px;
}
.admin-content-main-content-left input
{
    height: 40px;
    border: none;
    background-color: var(--sub-bg-color);
    margin-bottom: 20px;
    outline: none;
    border-radius: var(--main-border-radius);
    padding-left: 6px;
}
.admin-content-main-content-two-input:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.admin-content-main-content-two-input input{
    width: 100%;
}
.admin-content-main-content-two-input:nth-child(2) input{
    width: 43%;
}
.admin-content-main-content-left textarea{
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 6px;
    border: none;
}
.admin-content-main-content-left button{
    margin-top: 10px;
}

.admin-content-main-content-right-image input{
    display: none;
}
.admin-content-main-content-right-images input{
    display: none;
}
.admin-content-main-content-right label{
    padding: 6px 12px;
    background-color: black;
    color: whitesmoke;
    display: inline-block;
}
 .image-show, .images-show{
    min-height: 100px;
 }
 .ck-content{
    height: 100px;
 }

 .admin-content-main-content-left{
    max-height: 545px;
    overflow: scroll;
 }
 /* product list */
 .admin-content-main-content-product-list table{
    width: 100%;
    padding: 12px 0;
    border-collapse: collapse;
 }

 .admin-content-main-content-product-list table,th,td{
    text-align: center;
 }
 .admin-content-main-content-product-list table th{
    background-color: var(--main-bg-color);
    color: white;
    padding: 6px 0;
 }
 /* order-list */
 .admin-content-main-content-manager-list table,
 .admin-content-main-content-home-table table,
 .admin-content-main-content-order-list table{
    width: 100%;
    padding: 12px 0;
    border-collapse: collapse;
 }
 .admin-content-main-content-order-list table a{
    display: inline-block;
 }
 .admin-content-main-content-manager-list table,th,td,
 .admin-content-main-content-order-list table,th,td{
    text-align: center;
 }
 .admin-content-main-content-manager-list table th,
 .admin-content-main-content-home-table table th,
 .admin-content-main-content-order-list table th{
    background-color: var(--main-bg-color);
    color: white;
    padding: 6px 0;
 }
 .admin-content-main-content-manager-list table td,
 .admin-content-main-content-home-table table td,
 .admin-content-main-content-order-list table td{
    padding: 6px 0;
 }
 

 /* admin dashboard */
 .admin-content-main .admin-content-main-content,
 .admin-content.main{
    overflow-y: scroll;
    max-height: 650px;
 }
 .admin-content-main-content.admin-dashboard-top{
    overflow-y: scroll;
    max-height: 235px;
 }
 .admin-content-main-content.admin-dashboard-bottom,
.admin-content-main-content.admin-dashboard-top{
    margin: 12px;
    
}
#calender{
    position: absolute;
    right: 320px;
    top: 137px;
}
.label-table i{
 cursor: pointer;   
}
.admin-content-main-content-home-admin-bottom-right label,
.admin-content-main-content-home-admin-bottom-left label,
 .admin-content-main-content-home-table label{
    text-align: center;
 }

 .admin-content-main-content-home-admin-bottom{
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 20px;
    padding: 20px 0 0 0;
    overflow-y: scroll;
 }
 
 /* category */
 .admin-content-main-add-category-top{
    display: flex;
 }
 .save-cancel,
 .select-status{
    display: flex;
    align-items: center;
 }
 .save-cancel,
 .save-cancel button,
 .select-status select{
    margin-left: 10px;
 }
.admin-content-main-add-category-top input:first-child{
    width: 30%;
    margin: 10px 0;
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 108px;
}
.admin-content-main-add-category-bottom textarea{
    width: 60%;
}
.admin-content-main-add-category textarea{
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
}
/* promotion */
.admin-content-main-add-category-top.promotion input:first-child{
    width: 25%;
    margin: 10px 0;
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 38px;
}
.select-status input{
    padding: 10px;
    border: none;
    outline: none;
    width: 30%;
    margin-left: 10px;
}
